<h1> Welcome to Our Team! </h1>
<h2> Complete the Form Below to Create a Profile.</h2>

<%= form_for @employee do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username %></br></br>
    <%= f.label :email%>
    <%= f.email_field :email %></br></br>
    <%= f.label :password %>
    <%= f.password_field :password %></br></br>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation %></br></br>
    <%= f.submit "Submit"  %>
    <%= %>
<% end %>