<h1> Welcome! </h1>
<h2> Complete the Form Below to Create a Profile.</h2>

<%= form_for @employee do |f| %>
    <%= render partial: "layouts/errors", locals: {record: @employee} %>
    <%= f.label :username%>
    <%= f.text_field :username %></br></br>
    <%= f.label :email%>
    <%= f.email_field :email %></br></br>
    <div>
    <%= f.label :contact_number, 'Contact Number' %>
    <%= f.phone_field :contact_number %>
    * Include Area Code. Ex: 1112223333 or 111-222-3333
    </div></br></br>
    <%= f.label :password %>
    <%= f.password_field :password %></br></br>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation %></br></br>
    <%= f.submit "Submit"  %>
    <%= %>
<% end %>