<% if @location %>
    <h1> <%= @location.street_address %> </h1>
<% else %>
    <h1> Please Sign In or Sign Up </h1>
<% end %>

<% if @measurements == [] %></br></br>
  <h5> This Location Has No Measurements </h5>
  <% else %>
<ul>
<% @measurements.each do |m|%>
  <li><%= m.employee.username %> - <%= m.length %>" x <%= m.width %>" - <%= link_to 'Edit', edit_location_measurement_path(@location, m.id)%> - <%= link_to "Delete", location_measurement_path(@location, m.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </br>Measured On: <%= m.date %> </br></br>
<% end %>
</ul>
<% end %>

<p><%= link_to 'Add A New Measurement', new_location_measurement_path(@location)%></p>
