<h1> <%= employees_locations %> </h1></br></br>


<% if @locations == [] %>
  <h5> This Employee Has No Measured Locations </h5>
    <%= link_to "Back to Profile Page", employee_path(current_user) %></br></br>
    <%= link_to "Add A New Location", new_employee_location_path(current_user) %>

  <% else %>
  <ul>
<% @locations.each do |loc|%>
  <li><%= loc.street_address %> - <%= link_to 'View', location_measurements_path(loc) %> - <%= link_to 'Edit', edit_employee_location_path(loc.employee_id, loc.id) %> - <%= link_to "Delete", employee_location_path(loc.employee_id, loc.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</ul>
<% end %>
